<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 映射文件，映射到对应的SQL接口 -->
<mapper namespace="com.study.dao.OrderCountDao">
	<update id="update" parameterType="com.study.model.OrderCount">
		UPDATE ORDER_COUNT set COUNT = COUNT - #{count} where id = #{id} and COUNT -
		#{count} >= 0
	</update>

	<insert id="insert" parameterType="com.study.model.OrderCount">
		INSERT  INTO ORDER_COUNT values (#{id},#{count})
	</insert>

</mapper>